<app-header></app-header>

<div class="main-content">

  <div class="container py-5">

    <!-- Bienvenida -->
    <div class="welcome-card shadow-sm">

      <div class="row align-items-center">

        <div class="col-md-9">

          <span class="welcome-label">
            Portal del Docente
          </span>

          <h2 class="mt-2 mb-2">
            ¡Hola, {{ user?.nombre }}!
          </h2>

          <p class="mb-0">
            {{ user?.profesion }}
          </p>

        </div>

        <div class="col-md-3 text-center mt-4 mt-md-0">

          <div class="avatar">

            <i class="bi bi-person-fill"></i>

          </div>

        </div>

      </div>

    </div>

    <!-- Información -->

    <div class="card profile-card shadow-sm">

      <div class="card-body">

        <h4 class="section-title">

          <i class="bi bi-person-vcard me-2"></i>

          Información Personal

        </h4>

        <div class="row g-4 mt-2">

          <div class="col-lg-6">

            <div class="info-item">

              <i class="bi bi-person"></i>

              <div>

                <small>Nombres y Apellidos</small>

                <h6>{{ user?.nombre }} {{ user?.apellido }}</h6>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="info-item">

              <i class="bi bi-envelope"></i>

              <div>

                <small>Correo Institucional</small>

                <h6>{{ user?.usuario }}</h6>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="info-item">

              <i class="bi bi-phone"></i>

              <div>

                <small>Celular</small>

                <h6>{{ user?.celular }}</h6>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="info-item">

              <i class="bi bi-credit-card"></i>

              <div>

                <small>Código Docente</small>

                <h6>{{ user?.codigo_docente }}</h6>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="info-item">

              <i class="bi bi-book"></i>

              <div>

                <small>Cursos Asignados</small>

                <h6>{{ user?.num_cursos }}</h6>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>