* {
  font-family: "Roboto Condensed", sans-serif !important;
}
:root{
  --bg-color: #eaf7ff;
  --text-color: #111827;
  --base-font-size: 16px;
}

html{
  font-size: var(--base-font-size);
}

html[data-theme='dark']{
  --bg-color: #0b1220;
  --text-color: #e6eef8;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color .2s ease, color .2s ease, font-size .15s ease;
}
